/* login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-title{
    text-align: center;
}

.login-box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;

}
.login-form-container {
  text-align: center;
}

.login-form {
  width: 300px;
  padding: 20px;
  
}

.login-title {
  color: var(--login-register-title);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-message {
  margin: auto;
  color: red;
  text-align: center;
  list-style-type: none;
  width: 250px;
}

.error-list {
  padding: auto;
  width: 250px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--button-color); /* Set your desired button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--button-color); /* Set your desired button hover color */
}
