.home-container {
    text-align: center;
    margin: 20px;
  }
  
  .welcome-message {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .user-name {
    font-weight: bold;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  